/* CSS Document specific */

input{
    border: none;
    border-bottom: thin solid #212529;
}

input:focus{
    outline: none;
}

[placeholder]::-webkit-input-placeholder{
    color: #212529;
}

.nav-link:hover, .nav-link.active{
    color: #2C9E5A!important;
}