/* CSS Document specific*/

.w{
    max-width: 500px;
}

input {
    border: none;
    border-bottom: thin solid white;
    background-color: #E85D04;
}

textarea {
    border: none;
    border-bottom: thin solid white;
    background-color: #E85D04;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

[placeholder]::-webkit-input-placeholder{
    color: white;
}