@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="container text-center mt-3">
<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
</div>
<hr />
<div class="Container">
    <div class="w-25 mx-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="text" placeholder="Email" class="p-2 d-block mw-100 w-100 mt-4 bg-white" asp-for="Input.Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn rounded-5 px-4 text-black bgcolor text-white float-end mt-3">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
