@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!--Main Container-->
<div class="container">
    <center><h3 class="mt-5 bordor p-1 d-inline-flex">SIGN Up</h3></center>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mt-5">
                <div class="col-md-6 px-5">
                <input type="text" placeholder="First Name" class="p-2 d-block mw-100 w-100 bg-white">
                <input type="text" placeholder="Last Name" class="p-2 d-block mw-100 w-100 mt-4 bg-white">
                <input asp-for="Input.Email" type="email" placeholder="Email" class="p-2 d-block mw-100 w-100 mt-4 bg-white"><span asp-validation-for="Input.Email" class="text-danger"></span>
                <input type="text" placeholder="User Name" class="p-2 d-block mw-100 w-100 mt-4 bg-white">
                </div>
                <div class="col-md-6 px-5">
                <input asp-for="Input.Password" type="password" placeholder="Password" class="p-2 d-block mw-100 w-100 mt-4 mt-md-0 bg-white"><span asp-validation-for="Input.Password" class="text-danger"></span>
                <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm Password" class="p-2 d-block mw-100 w-100 mt-4 bg-white"><span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <input type="text" placeholder="Address" class="p-2 d-block mw-100 w-100 mt-4 bg-white">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 px-5">
                    <div class="form-check">
                        <input type="checkbox" name="#" class="form-check-input">
                        <label for="#" class="form-check-label">I Have Read All the <span class="color"><a href="#" class="nav-link d-inline">TERMS</a></span> and <span class="color"><a href="#" class="nav-link d-inline">CONDITIONS</a></span></label>
                    </div>
                <label class="mt-4">Already A Member?&nbsp;</label><span class="color"><a asp-page="./Login" class="nav-link d-inline">LOGIN</a></span>
                </div>
                <div class="col-md-6 px-5">
                    <input id="registerSubmit" type="submit" class="btn bgcolor rounded-5 px-5 text-white float-md-end mt-4" value="SignUp">
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
