@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

*{
    margin: 0;
    padding: 0;
}
p, h2{
    font-family: Bahnschrift;
}
.hactive{
    background-color: #fff !important;
    box-shadow: black 0px 1px 5px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.main{
    background-image: url("../img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar-toggler{
    border: none;
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 114 48'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23191919%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EMenu%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='cls-1' x='28' width='86' height='8'/%3E%3Crect class='cls-1' y='40' width='114' height='8'/%3E%3Crect class='cls-1' x='57' y='20' width='57' height='8'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.myPicture{
    max-width: 97%;
}
.content{
    margin-top: 9%;
    z-index: 1;
}
.main h2{
    font-size: 72pt;
    font-weight: bold;
    text-transform: uppercase;
}
.f50{
    font-size: 25pt;
}
.f80{
    font-size: 40pt;
    color: #E85D04;
    margin-left: 30px;
}
.main font{
    color: #E85D04;
}
.stylish{
    font-family: 'Hurricane', cursive !important;
    font-size: 30pt;
}
.bgbox{
    width: 100px;
    height: 90px;
    background-color: black;
    position: absolute;
    left: 5.5%;
    top: 425px;
}
.icons{
    position: relative;
    top: -45px;
    font-size: 40px;
}
.icons a{
    color: black;
}
.info img{
    width: 90%;
}
.row .mt{
    margin-top: 7%;
}
.boxIcon{
    background-color: #fff;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 15px;
    margin-left: 5%;
}
.boxIconActive{
    background-color: #fff;
    box-shadow: black 0px 0px 3px;
    border-radius: 10px;
    padding: 15px;
    margin-left: 5%;
}
.boxIcon>img, .boxIconActive>img{
    width: 36px;
}
.boxContent{
    background-color: #fff;
    box-shadow: black 0px 0px 3px;
    border-radius: 10px;
    padding: 10px;
    width: 550px;
    height: 250px;
}
.info>.row{
    --bs-gutter-x: 0;
}

.testimonials h2{
    color: #E85D04;
}

.round{
    border-radius: 100px;
    width: 180px;
    height: 180px;
    background-color: black;
}

.newsletter{
    background-color: #E85D04;
}
.newsletter .row{
    display: flex;
    align-items: center;
    font-size: 16pt;
    color: white;
    
}
.newsletter .row p{
    margin-bottom: 0;
    text-align: center;
    padding: 40px;
    white-space: pre;
}
.newsletter .hello{
    font-size: 35pt;
}

.footer{
    background-color: #E85D04;
    color: #fff;
    padding: 40px 40px 50px 40px;
}